body {
  font-family: system-ui;
  background: #fff;
  color: black;
  height: 1000vh;
}

.hide {
  display: none;
}
.show {
  display: block;
}
img {
  width: 100%;
  height: auto;
}
#identity-container {
  position: fixed;
  top: 0;
  min-width: 100%;
  min-height: 100vh;
}
