body {
  font-family: system-ui;
  background: #fff;
  color: black;
}

.hide {
  display: none;
}
.show {
  display: block;
}
img {
  width: 100%;
  height: auto;
}
#container {
  min-width: 100%;
  min-height: 100vh;
}
